<template>
    <div class="container">
        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Barang</h3>
                    <div id="no-print" class="card-tools">
                  <downloadexcel
                    class = "btn btn-primary"
                    :fetch   = "fetchData"
                    :fields = "json_fields"
                    :before-generate = "startDownload"
                    :before-finish = "finishDownload"
                    type    = "xlsx"
                    name  = "Data Barang Invetaris.xlsx">
                    Download Data Excel
                  </downloadexcel>
                  <button type="button" @click.prevent="printme" class="btn btn-primary">
                    <i class="fas fa-print"></i> Print
                  </button>
                  <button type="button" id="button" class="btn btn-success" @click="newItems()" data-toggle="modal" data-target="detailItems">
                      Tambah
                    </button>
                    </div>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-sm" 
                                    placeholder="Cari Barang" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Kategori Inventaris Barang : </label>
                                    <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_kategori" name="kategori_id" id="kategori_id">
                                        <option value="">{{selectedCategorys}}</option>
                                        <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                                            {{ category.kategori }}
                                        </option>
                                    </select>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Jenis Barang : </label>
                                    <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_jenis" name="jenisbarang_id" id="jenisbarang_id">
                                        <option value="">{{selectedtypesItems}}</option>
                                        <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                                            {{ typesItem.jenis }}
                                        </option>  
                                    </select>
                            
                        </div>
                        <div class="col-md-4-filter">
                                <label>Status Barang : </label>
                                    <select class="form-control" style="width: 100%;" @change="onFilter($event)" v-model="filter_status" id="status">
                                        <option value="">{{selectedStatus}}</option>
                                        <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                                            {{ optionStatu.status }}
                                        </option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" 
                            role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th>Kode Barang</th>
                        <th>Nama Barang</th>
                        <th>Kategori Inventaris</th>
                        <th>Jenis Barang</th>
                        <th>Merk</th>
                        <th>Status</th>
                        <th>Ketersediaan</th>
                        <th>Dibuat Tanggal</th>
                        <th id="no-print" style="width: 80px">Aksi</th>
                </tr>
                </thead>
                <tbody v-if="items.data">
                <tr  v-for="(items) in items.data" :key="items.id" role="row" class="odd">
                  <td class="sorting_1">{{items.kode_barang}}</td>
                  <td>{{items.nama_barang}}</td>
                  <td>{{items.kategori}}</td>
                  <td>{{items.jenis}}</td>
                  <td v-if = items.merk>
                      {{items.merk}}
                  </td>
                  <td v-else>
                      Tanpa Merk
                  </td>
                  <td v-if="items.status === 'Baik'">
                      <span data-toggle="tooltip" class="badge bg-green">{{items.status}}</span>
                  </td>
                  <td v-else-if="items.status === 'Perbaikan'">
                      <span data-toggle="tooltip" class="badge bg-primary">{{items.status}}</span>
                  </td>
                  <td v-else-if="items.status === 'Rusak'">
                      <span data-toggle="tooltip" class="badge bg-warning">{{items.status}}</span>
                  </td>   
                  <td v-else>
                      <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                  </td>
                  <td v-if="items.dipinjam === 0">
                      <span data-toggle="tooltip" class="badge bg-green">Tersedia</span>
                  </td>
                  <td v-else>
                      <span data-toggle="tooltip" class="badge bg-warning">Sedang dipinjam</span>
                  </td>
                  <td>{{items.created_at | myDateTime}}</td>
                  <td id="no-print">
                        <a href="#" @click="detailModal(items)">
                            <i class="fa fa-eye cyan"></i>
                        </a>
                        <a href="#" @click="editModal(items)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        <a href="#" @click="deleteItems(items.kode_barang)">
                            <i class="fa fa-trash red"></i>
                        </a>
                  </td>
                </tr>
                </tbody>
                 <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
        </div>
              <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <!-- modal edit -->
        <div class="modal fade" id="detailItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
              <h4 class="modal-title" v-show="!editmode" id="detailsItems">Tambah Informasi Data Barang</h4>
              <h4 class="modal-title" v-show="editmode" id="detailsItems">Update Informasi Data Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <form @submit.prevent="editmode ? updateItems(): createItems()">
            <div class="modal-body">
                 
              <div class="row">
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKode" v-show="editmode">Kode Barang </label> <label for=""  v-show="editmode" class="tab2">:</label>
                    <span class="tab"  v-show="editmode">{{form.kode_barang}}</span>
                  
                    <label for="inputKode" v-show="!editmode">Kode Barang</label> <span v-show="!editmode" class="red">(Wajib diisi)</span>
                    <input v-model="form.kode_barang" v-show="!editmode" type="text" id="kode_barang" name="kode_barang" 
                    class="form-control" :class="{ 'is-invalid': form.errors.has('kode_barang') }" placeholder="Isi Kode Unik Barang">
                    <has-error :form="form" field="kode_barang"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Nama Barang</label> <span class="red">(Wajib diisi)</span>
                    <input v-model="form.nama_barang" type="text" id="nama_barang" name="nama_barang" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('nama_barang') }" placeholder="Isi Nama Barang">
                    <has-error :form="form" field="nama_barang"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Merk Barang <i>(Apabila Ada)</i></label>
                    <input v-model="form.merk" type="text" id="merk" name="merk" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('merk') }" placeholder="Isi Merk Barang">
                    <has-error :form="form" field="merk"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputKelengkapan">Kelengkapan Barang</label>
                    <textarea v-model="form.kelengkapan" id="kelengkapan" name="kelengkapan" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('kelengkapan') }" rows="6"></textarea>
                    <has-error :form="form" field="kelengkapan"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputFoto">Foto Barang</label> <br><span class="red">(Wajib diupload berupa format JPEG atau PNG dengan ukuran maks 2 MB)</span>
                    <input type="file" @change="addPhoto" id="inputFoto" name="foto_barang" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('foto_barang') }">
                    <has-error :form="form" field="foto_barang"></has-error>
                    <div  v-show="editmode" v-viewer class="images clearfix">
                     <img :src="getItemsPhoto()" class="image">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKategori">Kategori Inventaris Barang</label>
                    <span>{{form.kategori}}</span>
                    <select v-model="form.kategori_id" class="form-control custom-select" name="kategori_id" id="kategori_id">
                      <option value="">{{selectedCategorys}}</option>
                      <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                        {{ category.kategori }}
                    </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputJenisBarang">Jenis Barang</label>
                    <select v-model="form.jenisbarang_id" class="form-control custom-select" name="jenisbarang_id" id="jenisbarang_id">
                      <option value="">{{selectedtypesItems}}</option>
                      <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                        {{ typesItem.jenis }}
                      </option>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Status Barang</label>
                    <select v-model="form.status" name="status" id="status" class="form-control custom-select" 
                    :class="{ 'is-invalid': form.errors.has('status') }" >
                      <option value="">{{selectedStatus}}</option>
                      <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                          {{ optionStatu.status }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputFileInvoice">File Invoice</label> <br><span class="red">(Wajib diupload berupa format JPEG atau PNG dengan ukuran maks 2 MB)</span>
                    <input type="file" @change="addFile" id="inputFileInvoice" name="file_invoice" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('file_invoice') }">
                     <div  v-show="editmode" v-viewer class="images clearfix">
                     <img :src="getItemsfile()" class="image">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputKeterangan">Keterangan <i>(Apabila Ada Keterangan Tambahan)</i></label>
                    <textarea v-model="form.keterangan" id="keterangan" name="keterangan" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('keterangan') }" rows="5"></textarea>
                    <has-error :form="form" field="keterangan"></has-error>
                  </div>
                  </div>
                </div>
            
            </div>
            
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
              <button type="submit" v-show="!editmode" class="btn btn-primary">Simpan</button>
              <button type="submit" v-show="editmode" class="btn btn-warning">Simpan Perubahan</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

        <!-- modal detail -->
          <div class="modal fade" id="detailDataItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title"  id="detailsItems">Detail Informasi Data Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKode">Kode Barang </label> <label for="" class="tab2">:</label>
                    <span class="tab">{{form.kode_barang}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Nama Barang </label> <label for="" class="tab2">:</label>
                  <span class="tab">{{form.nama_barang}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Merk Barang </label> <label for="" class="tab2">:</label>
                    <span class="tab">{{form.merk}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputKelengkapan">Kelengkapan Barang </label> <label for="" class="tab2">:</label>
                    <br>
                    <span>{{form.kelengkapan}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputFoto">Foto Barang</label>
                    <div v-viewer class="images clearfix">
                     <img :src="url_foto+form.foto_barang" class="image">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKategori">Kategori Inventaris Barang </label> <label for="" class="tab2">:</label>
                    <span class="tab">{{form.kategori}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputJenisBarang">Jenis Barang </label> <label for="" class="tab2">:</label>
                    <span class="tab">{{form.jenis}}</span>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Status Barang </label> <label for="" class="tab2">:</label>
                    <span class="tab">{{form.status}}</span>
                 </div>
                  <div class="form-group">
                    <label for="inputFileInvoice">File Invoice</label>
                     <div v-viewer class="images clearfix">
                     <img :src="url_invoice+form.file_invoice" class="image">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputKeterangan">Keterangan </label> <label for="" class="tab2">:</label>
                    <br>
                    <span>{{form.keterangan}}</span></div>
                  </div>
                </div>
            
            </div>
            
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {              
                editmode: false,
                selectedStatus: 'Semua Status Barang',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                selectedtypesItems: 'Semua Jenis barang',
                typesItems: {},
                selectedCategorys: 'Semua Kategori Inventaris',
                categorys: {},
                items: {},
                form: new Form({
                    kode_barang:'',
                    nama_barang : '',
                    merk : '',
                    kategori_id:'',
                    kategori:'',
                    jenisbarang_id:'',
                    jenis: '',
                    kelengkapan : '',
                    status : '',
                    foto_barang : '',
                    file_invoice: '',
                    keterangan: ''
                }),
                searchITems: '',
                filter_kategori: '',
                filter_jenis: '',
                filter_status: '',
                url_foto: './img/items/',
                url_invoice: './img/invoice-items/',

                json_fields: {
                  'Kode Barang': 'kode_barang',
                  'Nama Barang': 'nama_barang',
                  'Kategori Inventaris': 'kategori',
                  'Jenis Barang': 'jenis',
                  'Merk': 'merk',
                  'Status Barang': 'status',
                  'Kelengkapan': 'kelengkapan',
                  'Keterangan Tambahan': 'keterangan',
                },
            }
         },
         methods:{
            printme(){
              window.print();
            },
            async fetchData(){
                const response = await axios.get('api/getdataExcel')
                
                return response.data
              
              },
              startDownload(){
                  this.$Progress.start();
              },
              finishDownload(){
                  this.$Progress.finish();
              },
            
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            onFilter(event) {
                this.$Progress.start();
                let filter_kategori = document.getElementById('kategori_id').value;
                let filter_jenis = document.getElementById('jenisbarang_id').value;
                let filter_status = document.getElementById('status').value;
                if (filter_kategori == ''){
                    filter_kategori = 'all'
                }if (filter_jenis == ''){
                    filter_jenis = 'all'
                }if (filter_status == ''){
                    filter_status = 'all'
                }
                axios.get('api/filterBarang/'+ filter_kategori + '/' + filter_jenis + '/' +  filter_status)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
             getResults(page = 1){
                axios.get('api/barang?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },
            loadTypeItems(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
                }
            },
            loadCategorys(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
                }
            },
            loadItems(){
                if(this.$gate.isAdminOrAuthor()){
                    this.$Progress.start();
                    axios.get("api/barang").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            newItems(){
                this.editmode = false;
                this.form.reset();
                $('#detailItems').modal('show');
            },
            editModal(items){
                this.editmode = true;
                $('#detailItems').modal('show');
                this.form.fill(items);  
            },
            updateItems(){
                this.$Progress.start();
                this.form.put('api/barang/'+ this.form.kode_barang)
                .then(() => {
                    //success
                    $('#detailItems').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Information data telah berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            detailModal(items){
                $('#detailDataItems').modal('show');
                this.form.fill(items);  
            },
            createItems(){
                this.$Progress.start();
                this.form.post("api/barang")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#detailItems').modal('hide'); 
                    toast.fire({
                        type: 'success',
                        title: 'Data Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
            },
            addPhoto(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.foto_barang = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFoto").value = "";
                     Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload Foto Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsPhoto(){
                let foto_barang = (this.form.foto_barang.length > 100 )? this.form.foto_barang : this.url_foto+this.form.foto_barang ;
                return foto_barang;
            },
            addFile(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.file_invoice = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFileInvoice").value = "";
                  Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsfile(){
                let file_invoice = (this.form.file_invoice.length > 100 )? this.form.file_invoice : this.url_invoice+this.form.file_invoice ;
                return file_invoice;
            },
            deleteItems(kode_barang){
                Swal.fire({
                    title: 'Apakah Anda Yakin?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!'
                    }).then((result) => {
                        // Send request to the server
                        if(result.value){
                          console.log(result);
                        
                            this.form.delete('api/barang/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadTypeItems();
            this.loadCategorys();
            this.loadItems();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>