<template>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Dashboard Multi Inventory</div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{items.items}}</h3>

                                    <p>Jumlah Asset Barang</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-4 col-12">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{items.available}}</h3>

                                    <p>Jumlah Barang Tersedia</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-4 col-12">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{items.rents}}</h3>

                                    <p>Jumlah Barang Dipinjam</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>{{items.goodItems}}</h3>

                                    <p>Jumlah Barang Kondisi Baik</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-teal">
                                <div class="inner">
                                    <h3>{{items.repaireItems}}</h3>

                                    <p>Jumlah Barang Diperbaiki</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-orange">
                                <div class="inner">
                                    <h3>{{items.brokeItems}}</h3>

                                    <p>Jumlah Barang Rusak</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{items.missItems}}</h3>

                                    <p>Jumlah Barang Hilang</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">Detail Informasi <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Bar Chart</div>

                    <div class="card-body">
                       <bar-chart :chart-data="datacollection"></bar-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Line Chart</div>

                    <div class="card-body">
                       <line-chart :chart-data="dataLine"></line-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Line chart</div>

                    <div class="card-body">
                       <line-chart :chart-data="datacollection"></line-chart>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Donut Chart</div>

                    <div class="card-body">
                       <donut-chart :chart-data="dataDonut"></donut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import BarChart from "../BarChart"

import LineChart from "../LineChart"
import DonutChart from "../DonutChart"
  export default {
    components: {
      BarChart,
      LineChart,
      DonutChart
    },
    data () {
      return {
        datacollection: {},
        dataLine: {},
        dataDonut:{},
        items:{}
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
        loadDashboardItems(){
            if(this.$gate.isAdminOrAuthor()){
                this.$Progress.start();
                axios.get("api/dashboardBarang").then(({ data }) => (this.items = data));
                this.$Progress.finish();
            }
        },
        fillData () {
        this.datacollection = {
            labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                {
                label               : 'Digital Goods',
                backgroundColor     : 'rgba(60,141,188,0.9)',
                borderColor         : 'rgba(60,141,188,0.8)',
                pointRadius          : false,
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : [28, 48, 40, 19, 86, 27, 90]
                },
                {
                label               : 'Electronics',
                backgroundColor     : 'rgba(210, 214, 222, 1)',
                borderColor         : 'rgba(210, 214, 222, 1)',
                pointRadius         : false,
                pointColor          : 'rgba(210, 214, 222, 1)',
                pointStrokeColor    : '#c1c7d1',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data                : [65, 59, 80, 81, 56, 55, 40]
                },
            ]
        },
        this.dataLine = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                {
                label: 'Data One',
                backgroundColor: '#f87979',
                data: [40, 39, 10, 40, 39, 80, 40]
                }
            ]
        },

        this.dataDonut = {
                  labels: [
          'Chrome', 
          'IE',
          'FireFox', 
          'Safari', 
          'Opera', 
          'Navigator', 
      ],
      datasets: [
        {
          data: [700,500,400,600,300,100],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]

        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
    },
    created() {
        this.loadDashboardItems();
    }
  }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
