<template>
    <div class="content" style="min-height: 1416.81px;">
    <!-- Content Header (Page header) -->
    <form @submit.prevent="createBorrows()">
      
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Peminjaman Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Form Peminjaman Barang</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Peminjaman Barang</h3>
            </div>
            <div class="card-body">
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputName">Nomor Surat</label><span class="red"> (Wajib diisi)</span>
                <input v-model="form.nomor_surat" type="text" name="nomor_surat " id="nomor_surat" class="form-control"
                :class="{ 'is-invalid': form.errors.has('nomor_surat') }">
                <has-error :form="form" field="nomor_surat"></has-error>
              </div>
              <div class="form-group">
                <label for="inputStatus">Pilih Proyek</label><span class="red"> (Wajib diisi)</span>
                <multiselect v-model="form.id_proyek" :options="optionsProjects" :value="optionsProjects.id" placeholder="Pilih Nama Proyek" label="nama_proyek" track-by="id" >
                  <span slot="noResult">Nama proyek tidak ditemukan. Silahkan ketikkan ulang.</span>
                </multiselect>
                <has-error :form="form" field="id_proyek"></has-error>
              </div>
              <div class="form-group">
                <label for="inputDescription">Keterangan Keperluan Peminjaman</label><span class="red"> (Wajib diisi)</span>
                <textarea v-model="form.keterangan" id="inputDescription" class="form-control" rows="4" :class="{ 'is-invalid': form.errors.has('keterangan') }"></textarea>
                <has-error :form="form" field="keterangan"></has-error>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputClientCompany">Tanggal Peminjaman</label><span class="red"> (Wajib diisi)</span>
                <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                 name="date"
                 id="date" v-model="form.tgl_pinjam" inputClass="form-control"></datepicker>
              </div>
               <div class="form-group">
                <label for="inputProjectLeader">Pihak Penanggung Jawab</label><span class="red"> (Wajib diisi)</span>
                <multiselect v-model="form.iduser_penanggungjawab" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Penanggung Jawab" label="name" track-by="id">
                  <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                </multiselect>
                <has-error :form="form" field="iduser_penanggungjawab"></has-error>
              </div>
              <div class="form-group">
                <label for="inputProjectLeader">Pihak Peminjam</label><span class="red"> (Wajib diisi)</span>
                <multiselect v-model="form.iduser_peminjam" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Peminjam" label="name" track-by="id">
                <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                </multiselect>
              </div>
            </div>
            </div>
            </div>
            <!-- /.card-body -->
            
          </div>
          <!-- /.card -->
        </div>
      </div>

      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Barang Tersedia</h3>
                <h5>Kode Barang yang dipilih : {{this.form.barang}}</h5>
                <input type="hidden" class="form-control"
                :class="{ 'is-invalid': form.errors.has('barang') }">
                <has-error :form="form" field="barang"></has-error>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" @keyup="searchit_child" v-model="searchITems" name="table_search" class="form-control float-right" placeholder="Cari Barang">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Pilih Semua
                          <input type="checkbox" v-model="selectAll" @click="select">
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="items.data">
                  <tr  v-for="(items) in items.data" :key="items.kode_barang">
                    <td>{{items.kode_barang}}</td>
                    <td v-if = items.merk >
                      {{items.nama_barang}} - {{items.merk}}
                    </td>
                    <td v-else>
                        {{items.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{items.kategori}}</td>
                    <td>{{items.jenis}}</td>
                    <td>{{items.kelengkapan}}</td>
                    <td>
                      <label class="form-checkbox">
                        <input type="checkbox" :value="items.kode_barang" v-model="form.barang">
                        <i class="form-icon"></i>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

      <div class="row">
        <div class="col-12">
          <input type="submit" value="Simpan Data Peminjaman" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->

      </form>
  </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    export default {
        data(){
            return{
              selectAll: false,
              id: id,
              items: {},
              optionsUsers:[],
              optionsProjects:[],
              searchITems: '',
              form: new Form({
                nomor_surat: '',
                id_proyek: '',
                keterangan: '',
                tgl_pinjam: new Date().toISOString().slice(0,10),
                iduser_penanggungjawab: '',
                iduser_peminjam: '',
                barang: [],
              }),
            }
        },
        methods: {
          searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
          select() {
            this.form.barang = [];
            if (!this.selectAll) {
              for (let i in this.items.data) {
                this.form.barang.push(this.items.data[i].kode_barang);
              }
            }
          },
          customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.form.tgl_pinjam = tanggal
                return tanggal;
          },
          loadItems(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getDataBarangAvailable").then(({ data }) => (this.items = data));
                }
          },
          loadProjects(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getProyek").then(({ data }) => (this.optionsProjects = data));
                }
          },
          loadUsers(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getUser").then(({ data }) => (this.optionsUsers = data));
                }
          },createBorrows(){
              this.$Progress.start();
              this.form.post("api/peminjamanbarang")
              .then(() => {
                  Fire.$emit('AfterCreate');
                  toast.fire({
                      type: 'success',
                      title: 'Data Barang berhasil ditambahkan'
                  })
                  this.$Progress.finish();
                  this.$router.push({
                    path: '/printpeminjaman', 
                    params: { nomor_surat: this.form.nomor_surat.value }
                });
              })
              .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan. Cek Kembali Form Isian Wajib", "warning");
              });
          },
      },
      created(){
        this.loadProjects();
        this.loadUsers();
        this.loadItems();
        Fire.$on('searching-child',() => {
            this.$Progress.start();
            let query = this.searchITems;
            console.log(query);
            axios.get('api/findBarangAvailable?q='+ query)
            .then((data) => {
                this.items = data;
            })
            .catch(() => {
                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
            })
            this.$Progress.finish();
            
        })
      }
    }
</script>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
</style>