<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Kategori Inventaris</h3>
                    <div class="card-tools">
                        <button type="button" id="button" class="btn btn-success"  @click="newModal()" data-toggle="modal" data-target="#addNew">
                        Tambah
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                    <thead>                  
                        <tr>
                        <th style="width: 10px">#</th>
                        <th>Nama Kategori</th>
                        <th>Dibuat Tanggal</th>
                        <th>Diubah Tanggal</th>
                        <th style="width: 80px">Aksi</th>
                        </tr>
                    </thead>
                    <tbody v-if="categorys.data">
                        <tr v-for="(category,i) in categorys.data" :key="category.id">
                        <td>{{i+1}}</td>                  
                        <td>{{category.kategori}}</td>
                        <td>{{category.created_at | myDateTime}}</td>
                        <td>{{category.updated_at  | myDateTime}}</td>
                        <td>
                            <a href="#" @click="editModal(category)">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <a href="#" @click="deleteCategory(category.id)">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                        <td colspan="5"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination :data="categorys" @pagination-change-page="getResults"></pagination>
              </div>
                </div>
            </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-  centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Tambah Kategori</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Ubah Info Kategori</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateCategory() : createCategory()">
                <div class="modal-body">
                     <div class="form-group">
                        <input v-model="form.kategori" type="text" name="kategori"
                            placeholder="Kategori Inventaris"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('kategori') }">
                        <has-error :form="form" field="kategori"></has-error>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
                </div>

                </form>

                </div>
            </div>
            </div>
            
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                categorys : {},
                form: new Form({
                    id:'',
                    kategori : ''
                })
            }
        }, 
        methods: {
            getResults(page = 1){
                axios.get('api/kategori?page=' + page)
                .then(response => {
                    this.categorys = response.data
                });
            },
            updateCategory(){
                this.$Progress.start();
                this.form.put('api/kategori/'+ this.form.id)
                .then(() => {
                    //success
                    $('#addNew').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Data informasi berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            editModal(category){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(category);  
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteCategory(id){
                Swal.fire({
                    title: 'Apakah Anda Yakin?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!'
                    }).then((result) => {

                        // Send request to the server
                        if(result.value){
                            this.form.delete('api/kategori/'+id).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
            loadCategorys(){
                if(this.$gate.isAdminOrAuthor()){
                    this.$Progress.start();
                    axios.get("api/kategori").then(({ data }) => (this.categorys = data));
                    this.$Progress.finish();
                }
            },

            createCategory(){
                this.$Progress.start();
                this.form.post("api/kategori")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Kategori berhasil ditambahkan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
                 
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$Progress.start();
                
                let query = this.$parent.search;
                axios.get('api/findKategori?q='+ query)
                .then((data) => {
                    this.categorys = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
           this.loadCategorys();
           Fire.$on('AfterCreate',() => {
               this.loadCategorys();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
</style>