<template>
    <div class="container">
        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Peminjaman Barang</h3>
                    <div id="no-print" class="card-tools">
                 
                    <button type="button" @click.prevent="printme" class="btn btn-primary">
                        <i class="fas fa-print"></i> Print
                    </button>
                    </div>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Peminjaman Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-sm" 
                                    placeholder="Cari Nomor Surat" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Data Proyek : </label>
                                    <multiselect v-model="id_proyek" :options="optionsProjects" :value="optionsProjects.id" placeholder="Pilih Nama Proyek" label="nama_proyek" track-by="id" >
                                        <span slot="noResult">Nama proyek tidak ditemukan. Silahkan ketikkan ulang.</span>
                                    </multiselect>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Tanggal Awal : </label>
                                   <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                                    name="date"
                                    id="date" v-model="tgl_awal" inputClass="form-control"></datepicker>
                            
                        </div>
                        <div class="col-md-4-filter">
                                <label>Tanggal Akhir : </label>
                                   <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                                    name="date"
                                    id="date" v-model="tgl_akhir" inputClass="form-control"></datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" 
                            role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th>Nomor Surat</th>
                    <th>Nama Proyek</th>
                    <th>Tanggal Peminjaman</th>
                    <th>Penanggung Jawab</th>
                    <th>Peminjam</th>
                    <th>Admin</th>
                    <th>Keterangan</th>
                    <th>Dibuat Tanggal</th>
                    <th id="no-print" style="width: 80px">Aksi</th>
                </tr>
                </thead>
                <tbody v-if="items.data">
                <tr  v-for="(items) in items.data" :key="items.nomor_surat" role="row" class="odd">
                  <td class="sorting_1">{{items.nomor_surat}}</td>
                  <td>{{items.nama_proyek}}</td>
                  <td>{{items.tgl_surat}}</td>
                  <td>{{items.penanggungjawab}}</td>
                  <td>{{items.peminjam}}</td>
                  <td>{{items.admin}}</td>
                  <td>{{items.keterangan}}</td>
                  <td>{{items.created_at | myDateTime}}</td>
                  <td id="no-print">
                        <a href="#" @click="detailModal(items)">
                            <i class="fa fa-eye cyan"></i>
                        </a>
                        <a href="#" @click="editModal(items)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        <a href="#" @click="deleteItems(items.kode_barang)">
                            <i class="fa fa-trash red"></i>
                        </a>
                  </td>
                </tr>
                </tbody>
                 <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
        </div>
              <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
      

        <!-- modal detail -->
          <div class="modal fade" id="detailDataItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title"  id="detailsItems">Detail Informasi Data Peminjaman Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 20px">Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>Foto Barang</th>
                    </tr>
                  </thead>
                  <tbody v-if="detail">
                    <tr v-for="(detail) in detail" :key="detail.id">
                      <td>{{detail.nomor_surat}}</td>
                      <td>{{detail.nama_barang}} - {{detail.merk}}</td>
                      <td>{{detail.kategori}}</td>
                      <td>{{detail.jenis}}</td>
                      <td>{{detail.kelengkapan}}</td>
                      <td> <img :src="getItemsPhoto(detail)" class="image">
                    </td>
                    </tr>
                   </tbody>
                </table>
                </div>
                <div class="col-md-6">
                  
                </div>
                </div>
            
            </div>
            
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {              
                editmode: false,
                selectedStatus: 'Semua Status Barang',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                selectedtypesItems: 'Semua Jenis barang',
                typesItems: {},
                selectedCategorys: 'Semua Kategori Inventaris',
                categorys: {},
                id: id,
                optionsProjects:[],
                items: {},
                detail:{},
                id_proyek: '',
                tgl_awal: new Date().toISOString().slice(0,10),
                tgl_akhir: new Date().toISOString().slice(0,10),
                form: new Form({
                    kode_barang:'',
                    nama_barang : '',
                    merk : '',
                    kategori_id:'',
                    kategori:'',
                    jenisbarang_id:'',
                    jenis: '',
                    kelengkapan : '',
                    status : '',
                    foto_barang : '',
                    file_invoice: '',
                    keterangan: ''
                }),
                searchITems: '',
                filter_kategori: '',
                filter_jenis: '',
                filter_status: '',
                url_foto: './img/items/',
                url_invoice: './img/invoice-items/',

                json_fields: {
                  'Kode Barang': 'kode_barang',
                  'Nama Barang': 'nama_barang',
                  'Kategori Inventaris': 'kategori',
                  'Jenis Barang': 'jenis',
                  'Merk': 'merk',
                  'Status Barang': 'status',
                  'Kelengkapan': 'kelengkapan',
                  'Keterangan Tambahan': 'keterangan',
                },
            }
         },
         methods:{
            printme(){
              window.print();
            },
            async fetchData(){
                const response = await axios.get('api/getdataExcel')
                
                return response.data
              
              },
              startDownload(){
                  this.$Progress.start();
              },
              finishDownload(){
                  this.$Progress.finish();
              },
            
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            onFilter(event) {
                this.$Progress.start();
                let filter_kategori = document.getElementById('kategori_id').value;
                let filter_jenis = document.getElementById('jenisbarang_id').value;
                let filter_status = document.getElementById('status').value;
                if (filter_kategori == ''){
                    filter_kategori = 'all'
                }if (filter_jenis == ''){
                    filter_jenis = 'all'
                }if (filter_status == ''){
                    filter_status = 'all'
                }
                axios.get('api/filterBarang/'+ filter_kategori + '/' + filter_jenis + '/' +  filter_status)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
             getResults(page = 1){
                axios.get('api/peminjamanbarang?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },
            customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.tgl_pinjam = tanggal
                return tanggal;
            },    
            loadTypeItems(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
                }
            },
            loadCategorys(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
                }
            },
            loadProjects(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get("api/getProyek").then(({ data }) => (this.optionsProjects = data));
                }
            },
            loadItems(){
                if(this.$gate.isAdminOrAuthor()){
                    this.$Progress.start();
                    axios.get("api/peminjamanbarang").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            newItems(){
                this.editmode = false;
                this.form.reset();
                $('#detailItems').modal('show');
            },
            editModal(items){
                this.editmode = true;
                $('#detailItems').modal('show');
                this.form.fill(items);  
            },
            updateItems(){
                this.$Progress.start();
                this.form.put('api/barang/'+ this.form.kode_barang)
                .then(() => {
                    //success
                    $('#detailItems').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Information data telah berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            detailModal(items){
                axios.get("api/getDetailPeminjaman/"+items.nomor_surat).then(({ data }) => (this.detail = data)); 
                
                $('#detailDataItems').modal('show'); 
            },
            createItems(){
                this.$Progress.start();
                this.form.post("api/barang")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#detailItems').modal('hide'); 
                    toast.fire({
                        type: 'success',
                        title: 'Data Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
            },
            addPhoto(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.foto_barang = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFoto").value = "";
                     Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload Foto Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsPhoto(detail){
                let foto_barang = this.url_foto+detail.foto_barang ;
                return foto_barang;
            },
            addFile(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.file_invoice = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFileInvoice").value = "";
                  Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsfile(){
                let file_invoice = (this.form.file_invoice.length > 100 )? this.form.file_invoice : this.url_invoice+this.form.file_invoice ;
                return file_invoice;
            },
            deleteItems(kode_barang){
                Swal.fire({
                    title: 'Apakah Anda Yakin?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!'
                    }).then((result) => {
                        // Send request to the server
                        if(result.value){
                          console.log(result);
                        
                            this.form.delete('api/barang/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findPeminjaman?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findPeminjaman?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadTypeItems();
            this.loadCategorys();
            this.loadItems();
            this.loadProjects();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
</style>