<template>
    <div class="container">
      <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-0">
          <div class="col-sm-6">
            <h3>Tambah Data Barang</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Tambah Data Barang</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <form @submit.prevent="createItems()">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Informasi Umum</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKode">Kode Barang</label> <span class="red">(Wajib diisi)</span>
                    <input v-model="form.kode_barang" type="text" id="kode_barang" name="kode_barang" 
                    class="form-control" :class="{ 'is-invalid': form.errors.has('kode_barang') }" placeholder="Isi Kode Unik Barang">
                    <has-error :form="form" field="kode_barang"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Nama Barang</label> <span class="red">(Wajib diisi)</span>
                    <input v-model="form.nama_barang" type="text" id="nama_barang" name="nama_barang" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('nama_barang') }" placeholder="Isi Nama Barang">
                    <has-error :form="form" field="nama_barang"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputName">Merk Barang <i>(Apabila Ada)</i></label>
                    <input v-model="form.merk" type="text" id="merk" name="merk" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('merk') }" placeholder="Isi Merk Barang">
                    <has-error :form="form" field="merk"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputKelengkapan">Kelengkapan Barang</label>
                    <textarea v-model="form.kelengkapan" id="kelengkapan" name="kelengkapan" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('kelengkapan') }" rows="6"></textarea>
                    <has-error :form="form" field="kelengkapan"></has-error>
                  </div>
                  <div class="form-group">
                    <label for="inputFoto">Foto Barang</label> <span class="red">(Wajib diupload)</span>
                    <input type="file" @change="addPhoto" id="inputFoto" name="foto_barang" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('foto_barang') }">
                    <has-error :form="form" field="foto_barang"></has-error>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputKategori">Kategori Inventaris Barang</label>
                    <select v-model="form.kategori_id" class="form-control custom-select" name="kategori_id" id="kategori_id">
                      <option value="">{{selectedCategorys}}</option>
                      <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                        {{ category.kategori }}
                    </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputJenisBarang">Jenis Barang</label>
                    <select v-model="form.jenisbarang_id" class="form-control custom-select" name="jenisbarang_id" id="jenisbarang_id">
                      <option value="">{{selectedtypesItems}}</option>
                      <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                        {{ typesItem.jenis }}
                      </option>  
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Status Barang</label>
                    <select v-model="form.status" name="status" id="status" class="form-control custom-select" 
                    :class="{ 'is-invalid': form.errors.has('status') }" >
                      <option value="">{{selectedStatus}}</option>
                      <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                          {{ optionStatu.status }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputFileInvoice">File Invoice</label> <span class="red">(Wajib diupload)</span>
                    <input type="file" @change="addFile" id="inputFileInvoice" name="file_invoice" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('file_invoice') }">
                  </div>
                  <div class="form-group">
                    <label for="inputKeterangan">Keterangan <i>(Apabila Ada Keterangan Tambahan)</i></label>
                    <textarea v-model="form.keterangan" id="keterangan" name="keterangan" class="form-control" 
                    :class="{ 'is-invalid': form.errors.has('keterangan') }" rows="5"></textarea>
                    <has-error :form="form" field="keterangan"></has-error>
                  </div>
                  </div>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
           <router-link to="/barang" class="btn btn-secondary">
              Cancel
           </router-link>
          <input type="submit" value="Tambah Barang" class="btn btn-success float-right">
        </div>
      </div>
      </form>
    </section>
    
    </div>
</template>

<script>
    export default {
      data() {
            return {
                selectedStatus: 'Pilih Status Barang Saat Ini',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                selectedtypesItems: 'Pilih Jenis Barang Ini',
                typesItems: {},
                selectedCategorys: 'Pilih Kategori Inventaris Barang Ini',
                categorys: {},
                items: {},
                form: new Form({
                    kode_barang:'',
                    nama_barang : '',
                    merk : '',
                    kategori_id : '',
                    jenisbarang_id : '',
                    kelengkapan : '',
                    status : '',
                    foto_barang : '',
                    file_barang : '',
                    keterangan: ''
                })
            }
        },
        methods:{
            loadTypeItems(){
              if(this.$gate.isAdminOrAuthor()){
                  axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
              }
            },
            loadCategorys(){
              if(this.$gate.isAdminOrAuthor()){
                  axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
              }
            },
            createItems(){
                this.$Progress.start();
                this.form.post("api/barang")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    toast.fire({
                        type: 'success',
                        title: 'Data Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                    this.$router.push({ path : '/barang' });
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
            },
            addPhoto(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.foto_barang = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                     Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload Foto Anda Terlalu Besar !',
                     })
                }
            },
            addFile(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.file_invoice = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                     Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar !',
                     })
                }
            },
        },
        created() {
          this.loadTypeItems();
          this.loadCategorys();
        },
    }
</script>


<style scoped>
.container{
    min-height: 1000px;
}

</style>