<template>
    <div class="container">
        <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12" id="printArea">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Pengguna Sistem</h3>

                <div class="card-tools">
                  <button type="button" id="button" class="btn btn-success" @click="newModal()" data-toggle="modal" data-target="#addNew">
                      Tambah
                      <i class="fas fa-user-plus fa-fw"></i>
                    </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Jenis Pengguna</th>
                        <th>Terdaftar pada</th>
                        <th id="no-print">Aksi</th>
                  </tr>


                  <tr v-for="(user,i) in users.data" :key="user.id">

                    <td>{{i+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.type | upText}}</td>
                    <td>{{user.created_at | myDate}}</td>

                    <td id="no-print">
                        <a href="#" @click="editModal(user)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        <a href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>


        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-  centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Tambah User Baru</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Info User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createUser()">
                <div class="modal-body">
                     <div class="form-group">
                        <input v-model="form.name" type="text" name="name"
                            placeholder="Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                     <div class="form-group">
                        <input v-model="form.email" type="email" name="email"
                            placeholder="Email Address"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                     <div class="form-group">
                        <textarea v-model="form.bio" name="bio" id="bio"
                        placeholder="Short bio for user (Optional)"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                        <has-error :form="form" field="bio"></has-error>
                    </div>


                    <div class="form-group">
                        <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Select User Role</option>
                            <option value="admin">Admin</option>
                            <option value="user">Standard User</option>
                            <option value="author">Author</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div> 

                    <div class="form-group">
                        <input v-model="form.password" type="password" name="password" id="password" placeholder="Password"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
                </div>

                </form>

                </div>
            </div>
            </div>

            <div class="row no-print">
                <div class="col-12">
                <button type="button" @click.prevent="printme" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-print"></i> Print
                  </button>
                </div>
            </div>
    </div>

    
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                users : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',  
                    password: '', 
                    type: '',
                    bio: '',
                    photo: ''
                })
            }
        }, 
        methods: {
            getResults(page = 1){
                axios.get('api/user?page=' + page)
                .then(response => {
                    this.users = response.data
                });
            },
            updateUser(){
                this.$Progress.start();
                this.form.put('api/user/'+ this.form.id)
                .then(() => {
                    //success
                    $('#addNew').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Information data telah berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);  
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUser(id){
                Swal.fire({
                    title: 'Apakah Anda yakin?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus !'
                    }).then((result) => {

                        // Send request to the server
                        if(result.value){
                            this.form.delete('api/user/'+id).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data User telah berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
            loadUsers(){
                    if(this.$gate.isAdminOrAuthor()){
                        this.$Progress.start();
                        axios.get("api/user").then(({ data }) => (this.users = data));
                        this.$Progress.finish();
                    }
                },
                printme(){
                    window.print();
            },

            createUser(){
                this.$Progress.start();
                this.form.post("api/user")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Data User berhasil disimpan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
                 
            },
        },
        created() {
            Fire.$on('searching',() => {
                this.$Progress.start();
                
                let query = this.$parent.search;
                axios.get('api/findUser?q='+ query)
                .then((data) => {
                    this.users = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
           this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>

